<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- Dont forget to add this! -->

<head>

    <!-- For adding Bootstrap -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <meta charset="UTF-8">
    <title>Page Navigation</title>
</head>

<body>

<!-- Navigation -->
<nav th:fragment="navigation" class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a href="#">Spring Boot MVC Thymeleaf Demo - Java Group 30</a>
        </div>

        <ul class="nav">
            <li><a class="nav-item text-info ml-5" th:href="@{/}">Home</a></li>
            <li><a class="nav-item text-info ml-5" th:href="@{/welcome}">Welcome</a></li>
            <li><a class="nav-item text-info ml-5" th:href="@{/showtext}">Table Of Text</a></li>
            <li><a class="nav-item text-info ml-5" th:href="@{/student}">Students</a></li>
            <li><a class="nav-item text-info ml-5" th:href="@{/student/register}">Register</a></li>
        </ul>
    </div>
</nav>


</body>
</html>