<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- For adding Bootstrap -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>


<!-- Navigation -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a href="#">Spring Boot MVC Thymeleaf Demo - Java Group 30</a>
        </div>

        <ul class="nav">
            <li><a class="nav-item text-info ml-5" th:href="@{/}">Home</a></li>
            <li><a class="nav-item text-info ml-5" th:href="@{/welcome}">Welcome</a></li>
            <li><a class="nav-item text-info ml-5" th:href="@{/showtext}">Table Of Text</a></li>
        </ul>
    </div>
</nav>


<!-- Content of web page -->
<div class="container mt-2">
    <h2>This is a Table of Some Text..</h2>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>TEXT</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="text : ${allText}">
                <td th:text="${text}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>